.good {
    color: yellow;
    background-color: black;
} 
 body {
    background-color: yellow;

 }
 .pizza {
 background-color: black;
 color: yellow;
 } 
.pizza2 {
    background-color: black;
    color: yellow;
    }    
.pizza3 {
    background-color: black;
    color: yellow;
    }  
.pizza4 {
    background-color: black;
    color: yellow;
    } 
.pizza5 {
    background-color: black;
    color: yellow;
    } 

